 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="landing_page"> <%= image_tag 'logo.png'  %></a>
          
          <a class="navbar-brand" href="#why-us">Why Us</a>
          <a class="navbar-brand" href="#analyze">Analyze</a>
         
        </div>
      </div>
    </div>



 <div class="container-fluid">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'carosel1.jpg' %>
            <div class="carousel-caption">
              <h1>Contract Compare</h1>
              <h4><strong>Eeny meeny miny mo…want a better way to decide on a merchant account provider?</strong> </p>
              </h4><a class="btn btn-primary btn-lg" role="button" href="#analyze">Get started &raquo;</a></p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'carosel2.jpg' %>
            <div class="carousel-caption">
                <h1>Contract Compare</h1>
                <h4><strong>Eeny meeny miny mo…want a better way to decide on a merchant account provider?</strong> </h4>
                <p><a class="btn btn-primary btn-lg" role="button" href="#analyze">Get started &raquo;</a></p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'carosel3.jpg' %>
            <div class="carousel-caption">
                <h1>Contract Compare</h1>
                <h4><strong>Eeny meeny miny mo…want a better way to decide on a merchant account provider?</strong> </h4>
                <p><a class="btn btn-primary btn-lg" role="button" href="#analyze">Get started &raquo;</a></p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      </div><!--end carousel-->
    

      
  

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>How it Works</h2>
          <p><ol>
            <li>You shop around and find 2-3 merchant applications <a href="FAQ.html">(tips on this)</a>.</li><br>
            <li>Submit to <strong>Contract Compare </strong> for analyses. We use our 20+ years experience in the processing industry to decipher and identify the best deal.</li><br>
            <li>We send you a recommendation on which application is the most cost effective for your specific business.</li>
          </p></ol>
          <p><a class="btn btn-primary btn-lg" href="#analyze" role="button" href="#analyze">Analyze now &raquo;</a></p>
        </div>
       </div>
        
    </div><!-- /container -->

<div class="row-fluid parallax home" data-stellar-background-ratio="0.5" >

</div>
</div>     

<div class="container anchor why-us" id="why-us">
  <div class="row">
    <div class="col-md-4">
      <h2>Why Us?</h2><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-centered">
      <h3>Save Time</h3>
       <%= image_tag(Product.find(1).image_url) %>
      <p><span class="glyphicon glyphicon-ok"></span> Carles Odd Future salvia, sartorial narwhal roof party YOLO mustache Helvetica PBR art party. Keffiyeh ethical drinking vinegar art party, tote bag butcher leggings. Lomo fixie ethical 3 wolf moon synth, Intelligentsia banh mi </p>
      <p></p>
    </div>
    <div class="col-md-4 col-centered">
       <h3>Eliminate guessing</h3>
       <%= image_tag 'circlebk2.png' %>
     <p><span class="glyphicon glyphicon-ok"></span> Carles Odd Future salvia, sartorial narwhal roof party YOLO mustache Helvetica PBR art party. Keffiyeh ethical drinking vinegar art party, tote bag butcher leggings. Lomo fixie ethical 3 wolf moon synth, Intelligentsia banh mi </p>
      <p></p>
   </div>
    <div class="col-md-4 col-centered">
      <h3>Make the right decision</h3>
     <%= image_tag 'circlebk3.png' %>
      <p><span class="glyphicon glyphicon-ok"></span> Carles Odd Future salvia, sartorial narwhal roof party YOLO mustache Helvetica PBR art party. Keffiyeh ethical drinking vinegar art party, tote bag butcher leggings. Lomo fixie ethical 3 wolf moon synth, Intelligentsia banh mi </p>
      <p></p>
    </div>
    
  </div> <!-- end row -->
</div> <!-- end why us container -->

<div class="row-fluid parallax home" data-stellar-background-ratio="0.5" >

</div>
</div>

<div class="container anchor analyze " id="analyze">
  <h2>No More Guessing</h2>

  <p>Please fill in the form below and upload two -three merchant applicaitons and we will help you choose the most ideal pricing method for your business.</p>
  <form>  
    <div class="row">
     <div class="col-md-3">
      <div class="form-group">
              <label for="analyzeformCompanyname">Company Name</label>
              <input type="text" class="form-control" id="analyzeformCompanyname" placeholder="Enter name of company"></input>
      </div>
     </div>
     <div class="col-md-3">
      <div class="form-group">
              <label for="analyzeformBusinesstype">Business Type</label>
              <select class="form-control" id="analyzeformBusinesstype" placeholder="Choose type of Business">
                <option>ecommerce</option>
                <option>Retail</option>
                <option>Restaurant</option>
                <option>B2B</option>
                <option>Service</option>
              </select>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-3">
          <div class="form-group">
              <label for="analyzeformFname">First Name</label>
              <input type="text" class="form-control" id="analyzeformFname" placeholder="Enter first name"></input>
          </div>
      </div>
      <div class="col-md-3">
           <div class="form-group">
                <label for="analyzeformLname">Last Name</label>
                <input type="text" class="form-control" id="analyzeformFname" placeholder="Enter last name"></input>
            </div>
      </div>
    </div>
    <div class="row">
     <div class="col-md-3">
          <div class="form-group">
            <label for="analyzeformEmail1">Email address</label>
            <input type="email" class="form-control" id="analyzeformEmail1" placeholder="Enter email"></input>
          </div>
     </div>
     <div class="col-md-3">
          <div class="form-group">
            <label for="analyzeformPhone">Phone number</label>
            <input type="tel" class="form-control" id="analyzeformPhone" placeholder="Enter phone number"></input>
          </div>
     </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="analyzeFileupload">File Upload</label>
          <input type="file" class="form-control" id="analyzeFileupload"></input>
          <p class="help-block"> Upload two or three files here.</p>
        </div> 
      </div>
    </div>    
    <div class="row">
     <div class="col-md-6">
          <form role="form">
            <div class="form-group">
              <label for="analyzeformMessage">Message</label>
              <textarea type="textarea" class="form-control" rows="2" id="analyzeformtextArea" placeholder="Enter any additional information here"></textarea>
            </div>
      </div>
    </div>
  <button type="submit" class="btn btn-info">Analyze</button>
  </form>
</div><!--end analze container-->
